<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>GreetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNumber</servlet-name>
        <servlet-class>DisplayNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OddEven</servlet-name>
        <servlet-class>OddEven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleI</servlet-name>
        <servlet-class>SimpleI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factorial</servlet-name>
        <servlet-class>Factorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateTime</servlet-name>
        <servlet-class>DateTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/GreetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNumber</servlet-name>
        <url-pattern>/DisplayNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OddEven</servlet-name>
        <url-pattern>/OddEven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleI</servlet-name>
        <url-pattern>/SimpleI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factorial</servlet-name>
        <url-pattern>/Factorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateTime</servlet-name>
        <url-pattern>/DateTime</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
